*               text=auto

# Ignored files during git-archive
.gitattributes  export-ignore
phpunit.xml     export-ignore
testcase/       export-ignore
tests/          export-ignore
app/            export-ignore