# Build files
simplehtmldom_*.zip
/composer.lock

# Unit test data files
tests/data/*
!tests/data/.gitkeep

# vscode configuration files
.vscode/
/.idea

# Generated site data
manual/site/

# vendor libs
/vendor
